.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  margin-left: 48px;
  margin-top: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 100;
  cursor: pointer;
}

.khan__buy-link:hover {
  opacity: 0.6;
}
