.feynman {
  position: relative;
  background-color: #f2f2f2;
  height: 700px;
  background-image: url(../../../images/png/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
  padding-top: 170px;
}
